.about {
  position: relative;
}
.about-banner img {
  width: 100%;
  object-fit: cover;
  height: 80vh;
}
.banner-overlay {
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 80vh;
}
.banner-header {
  width: 80%;
  margin: 220px auto;
}
.about-sections {
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}
.about-section1 {
  margin-bottom: 140px;
}
.section-right img {
  width: 100%;
}
/* Programs */
.programs h2{
    text-align: center;
}
.programs-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%; 
  table-layout: auto;
}
th, td {
  min-width: 100px;
  padding: 10px; 
  text-align: left;
}
/* Teams */
.team {
  margin-top: 80px;
}
.team h3 {
  text-align: center;
  font-weight: 500;
}
.team-card {
  width: 80%;
  margin: auto;
}
.team-card .team-img {
  width: 100%;
}
.card1 {
  margin-bottom: 20px;
}
.card1-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* FAQ */
.about .faq{
    width: 80%;
    margin: 80px auto;
}
.faq p{
  font-weight: 400;
  color: rgb(48, 48, 48);
}
.faq-item{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #FCFCFC;
  color: black;
}
.featured .faq-container span{
padding: 10px 8px;
}
.faq-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
}
.chevron-icon{
  border: 1px solid black;
  padding: 2px;
  border-radius: 100px;
}

@media screen and (min-width: 786px) {
  p{
    font-size: 21px !important;
  }
  .about-banner img {
    height: 90vh;
  }
  .banner-overlay {
    height: 90vh;
  }
  .banner-header {
    width: 30%;
    margin: 250px auto;
  }
  .banner-header p{
    font-size: 15px;
    opacity: .8;
  }
  .banner-header h2{
    font-size: 40px;
  }
  .about-section1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  .section-left {
    width: 50%;
  }
  .section-right {
    width: 50%;
  }
  .section-left p {
    width: 80%;
    font-size: 15px;
    opacity: .8;
  }

  /* Programs */
  .programs-table{
    width: 60%;
    margin: auto;
  }
 
  /* Teams */
  .team-card {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
  }
  .card1 .team-img{
    width: 100%;
    height: 300px;
  }
  .card1 img {
    border-radius: 8px;
  }
  .team h3 {
    width: 30%;
    font-size: 17px;
    text-align: center;
    margin: auto;
  }
  /* FAQ */
.about .faq{
    width: 60%;
}
}
