.contact-banner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.contact-detail {
  width: 80%;
  margin: auto;
}
.contact-team {
  width: 80%;
  margin: auto;
}
.contact-left {
  background-color: #ede0cf;
  padding: 10px;
  margin: 30px 0;
  color: black;
  opacity: .8;
}
.message-form {
  margin: 40px 0;
}
.form {
  background-color: #2B2D38;
  color: white;
  padding: 40px 30px;
  border-radius: 5px;
}
.form span {
  color: red;
}
.form input {
  width: 98%;
  border: 1px solid #ede0cf;
  outline: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  margin: 10px 0;
  background-color: transparent;
  color: white;
}
.form textarea {
  width: 98%;
  border: 1px solid #ede0cf;
  outline: none;
  height: 100px;
  border-radius: 5px;
  padding-left: 5px;
  margin: 20px 0;
  margin: 20px 0;
  background-color: transparent;
  color: white;
}
.form select {
  width: 100%;
  border: 1px solid #ede0cf;
  outline: none;
  height: 30px;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #2B2D38;
  color: white;
}
.form button {
  outline: none;
  border: none;
  padding: 8px;
  margin: auto;
  width: 30%;
  display: block;
  border-radius: 40px;
  background-color: #fabc52;
}
.contact-team {
  margin-bottom: 60px;
}
.contact-team img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-banner img {
    height: 90vh;
  }
  .contact-detail {
    display: flex;
    width: 100%;
    margin-top: -4px;
  }
  .contact-left {
    width: 50%;
    margin: 0;
    padding-top: 170px;
    padding-left: 180px;
  }
  .contact-left p {
    width: 80%;
  }
  .contact-team-left h3 {
    width: 70%;
  }
  .contact-right {
    width: 70%;
    background-color: #2b2d38;
  }
  .contact-right .form {
    margin-top: 80px;
    border: 2px solid gray;
    height: 400px;
    width: 60%;
    margin: 50px auto;
  }
  .contact-team {
    display: flex;
    margin-top: 30px;
    gap: 20px;
  }
  .contact-team-right {
    width: 50%;
  
  }
  .contact-team-right img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .form input,
  textarea,
  select {
    margin-bottom: 20px;
    margin-top: 10px;
}
  .form button{
 width: 130px;
  }
}
